<h1>Todos os pensamentos</h1>
{{#each toughts}}
    <div class="toughts">
        {{#with this}}
        <h2>"{{title}}"</h2>
        <span class="author">
            <a href="" class="authorLink"></a>
        </span>
        {{/with}}
    </div>
{{/each}}