<section class="dashboard">
    <div class="title-container">
        <h2>Dashboard:</h2>
        <a href="/toughts/add" class="btn">Criar Pensamento</a>
    </div>
    <h3>Seus Pensamentos:</h3>
    {{#each toughts}}
        <ul>
            <li>
            <span class="spanTitle">{{this.title}}</span>
            <span class="">
                <a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
                <form action="/toughts/remove" method="post">
                <input type="hidden" name="id" value="{{this.id}}">
                <input type="submit" value="Excluir" class="btnRemove">
                </form>
            </span>
            </li>
        </ul>  
    {{/each}} 
</section>